/* .App {
  text-align: center;
} */


.App-header {
  /* background-image: url("https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"); */

  /* background-image: url("https://images.unsplash.com/photo-1556139943-4bdca53adf1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJhY2tncm91bmQlMjBkZXNpZ258ZW58MHx8MHx8&auto=format&fit=crop&w=1400&q=600"); */

  background-image: url("https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?/photos/pJadQetzTkIixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Z3JhZGllbnQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1600&q=60");

  /* background-image: url(" https://images.unsplash.com/photo-1614849286521-4c58b2f0ff15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3JhZGllbnQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1600&q=60");  */

  background-image: url(" https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cHVycGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60");

 

 

  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Lobster', cursive;

}

h1{

  font-size: 3rem;
  font-family: 'Lobster', cursive;
  text-align: top;
  color: white;
  text-shadow: 0 0 10px #000;

}